<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SDRwave</title>
    <style>
      html
      {
        overflow: hidden;
      }

      #sidebar-cnt,body
      {
        display: flex;
        flex-direction: column;
      }

      body
      {
        height: 100%;
      }

      #sidebar-cnt
      {
        position: static;
        max-width: 20%;
        min-width: 10%;
        justify-content: flex-start;
        background-color: #303030;
        color: #a1a1a1;
        font-family: "Trebuchet MS",Helvetica,sans-serif;
        font-size: 24px;
        letter-spacing: -1.4px;
        word-spacing: .4px;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        height: 100vh;
      }

      #sidebar-cnt>ul>li,a
      {
        display: block;
        text-decoration: none;
        list-style-type: none;
        margin-bottom: 30px;
        padding-right: 10px;
        border-right: 2px solid #b3b3b3;
        transition: background .5s;
        overflow-wrap: break-word;
        overflow-clip-margin: 10px;
      }

      #sidebar-cnt>ul>li:hover,a:hover
      {
        background-color: #4d4d4d;
        cursor: grab;
      }

      #header-cnt
      {
        display: flex;
        flex-direction: row;
        color: bisque;
        padding: 10px;
        position: sticky;
        top: 0;
        width: 100wh;
        margin-bottom: 6px;
        background-color: #1e1e1e;
        border-style: solid;
        border-color: #c8c6c8;
        border-width: 1px;
      }

      #player
      {
        border-style: solid;
        border-width: 0 0 3px;
        position: relative;
        width: 110%;
        margin-right: 0;
        overflow: hidden;
        left: 0;
        height: 60px;
      }

      #Acnt-cnt
      {
        width: 40%;
        height: revert;
      }
      #myprofile:hover{
        text-shadow: 0 0 20px #fff, 0 0 30px;
        transition: 0.2s;
      }
      #myprofile{
        transition: 0.2s;
      }

      #Acnt-cnt>#player
      {
        height: 70px;
        transition: .3s;
      }

      #Acnt-cnt:hover>#player
      {
        transition: .3s;
        border-style: solid;
        border-width: 2px;
        border-color: #4e4e4e;
      }   
    </style>
    <script>


playlistImport=async()=>{
 id= prompt("Enter playlist ID","PL0Jks44vwre23hgZb_h8p2WgxzWAYqera")
  await fetch("/addPlaylist",{method:"POST",body:id})
}
      renderTopHits=(param)=>{
        if(param.liked){
          document.querySelector("#stations").src="/likedSongs"
          return
        }
        document.querySelector("#stations").src="/topHits"
      }
      renderStations=()=>{
        document.querySelector("#stations").src="/stationsPage"

      }
       logout =()=> {fetch('/logout', {
      method: 'POST'})
      location.reload()
    }
    renderProfile = () => {
  <% if (username !== "Guest") { %>
    document.querySelector("#stations").src = `/user?username=<%= username %>`;
  <% } else { %>
    window.location.href = "/login";
  <% } %>
}
    </script>
  </head>
  <body style="background-color: rgb(78, 78, 78)">
    <div id="header-cnt">
      <img src="/OIG.png" style="max-width: 100px" />
      <h1>SDRWave</h1>
      <h1 style="margin-left:auto" id="greet">Enjoy the show, <div id="myprofile" onclick="renderProfile()"><%- username %></div>  </h1>
 
    </div>
    <div
      id="sideAndCnt-cnt"
      style="display: flex; flex-direction: row; width: 100%"
    >
      <div id="sidebar-cnt">
        <div id="Curr"></div>
        <ul>
          <% if(username=="Guest") {%> 

            <a style="font-weight: 600;" href="/login"> Log in</a>
         <% } %> 
         <li onclick="playlistImport()">My playlists</li>

          <li onclick="playlistImport()">Import Youtube Playlist</li>
          <li onclick="renderStations()">List of stations</li>
          <li onclick="renderTopHits({liked:true})">Liked songs</li>
          <li onclick="renderTopHits({liked:false})">Top Hits</li>
          <li>Settings</li>
          <li onclick="logout()">Log out</li>
        
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <iframe id="stations" width="50%" src="/stationsPage"></iframe>

      <div id="Acnt-cnt">
        <iframe id="player" width="100%" src="/player"></iframe>

      </div>
    </div>
  </body>
  <script>
    let AccntCont= document.querySelector("#Acnt-cnt")
   let playerel=document.querySelector("#player")
   let cancelableTimeout;
    AccntCont.addEventListener('mouseleave', () => {
  console.log("ok")
  cancelableTimeout=setTimeout(() => {
            playerel.style.height="70px"
            playerel.style.background =  `rgb(48, 48, 48)`;

        }, 3000);
    });

AccntCont.children[0].addEventListener('mouseenter', () => {
  console.log("unok")
            clearTimeout(cancelableTimeout)
            playerel.style.height="100%"
            playerel.style.background =  `rgb(77, 77, 77)`

    });
  </script>
</html>
