<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SDRwave</title>
    <style>
      html
      {
        overflow: hidden;
      }

      #sidebar-cnt,body
      {
        display: flex;
        flex-direction: column;
      }

      body
      {
                background-color: #303030;

        height: 100%;
      }
      
      #sidebar-cnt 
      {
        position: static;
        max-width: 20%;
        min-width: 10%;
        justify-content: flex-start;
        flex-direction: row-reverse;

        background-color: #303030;
        color: #a1a1a1;
        font-family: "Trebuchet MS",Helvetica,sans-serif;
        font-size: 24px;
        letter-spacing: -1.4px;
        word-spacing: .4px;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        height: 100vh;
      }
      .arrow{
        display: none;
      }
      @media only screen and (max-width: 600px) {
        #sidebar-cnt{
          flex-direction: row-reverse;

        }
        .arrow{
        top:50%;
        left:-12px;
        font-size: xx-large;
        position: relative;
        z-index: 3;
        height: 1em;
        width: 1em;
       display: flex;
       justify-content: center;
       align-items: center;
        /* padding-bottom:2px; */
        /* padding: 10px; */
        margin: 0px;
        background-color: #a1a1a1;
        color: #1e1e1e;
        border-radius: 100%;
      }
      }
      #sidebar-cnt>ul>li,a
      {
        display: block;
        text-decoration: none;
        list-style-type: none;
        margin-bottom: 30px;
        padding-right: 10px;
        border-right: 2px solid #b3b3b3;
        transition: background .5s;
        overflow-wrap: break-word;
        overflow-clip-margin: 10px;
      }

      #sidebar-cnt>ul>li:hover,a:hover
      {
        background-color: #4d4d4d;
        cursor: grab;
      }

      #header-cnt
      {
        display: flex;
        flex-direction: row;
        color: bisque;
        padding: 10px;
        width: 100%;
        max-height: 100px;
        margin-bottom: 6px;
        background-color: #1e1e1e;
        border-style: solid;
        border-color: #c8c6c8;
        border-width: 1px;
      }

      #player
      {
        border-style: solid;
        border-width: 0 0 3px;
        position: relative;
        width: 110%;
        margin-right: 0;
        overflow: hidden;
        left: 0;
        height: 60px;
      }

      #Acnt-cnt
      {
        width: 40%;
        height: revert;
      }
      #myprofile:hover{
        text-shadow: 0 0 20px #fff, 0 0 30px;
        transition: 0.2s;
      }
      #myprofile{
        transition: 0.2s;
      }
      @media only screen and (min-width: 600px) {
        #Acnt-cnt>#player
      {
        height: 70px;
        transition: .6s;
        transition-timing-function: ease-out;
        border-style: solid;
        border-width: 2px;
      }

      #Acnt-cnt:hover #player:hover
      {
        transition-timing-function: ease-out;
        height: 100% !important;;
        transition: .6s;
        border-style: solid;
        border-width: 2px;
      }   
      }
      @media only screen and (max-width: 600px) {
        #sideAndCnt-cnt{
          display: flex;
          flex-direction: column!important;
          justify-content: center;
     
        }
        #header-cnt{
          flex-direction: column;
          margin: 0px;
        }
        #greet{
          margin-left: 0px!important;
        }
        body{
          height: 100%;
        }
        #stations{
          width: 100%;
          height: 90vh;
        }
        #sidebar-cnt{
          width: 100%;
          max-width: 100%;
          height: fit-content;
        }
        #sidebar-cnt ul{
/* flex-direction: co!important; */
          height: 20px!important;
          cursor:click;

        }
        #sidebar-cnt ul li{
          display: none;          
        }
        #sidebar-cnt.open ul li{
          display:list-item;
        max-width: 100%;
        z-index: 100;
        background-color: #1e1e1e;
        width: 100%;
        position: relative;
        margin:0px
          
        }
        #sidebar-cnt ul li:first-child{
  display: block!important;
  border-top: 0px;
}
        #Acnt-cnt{
          width: 10px;
          display: flex;
        }
        #Acnt-cnt>#player
      {
        width: 10px;
        height: 100%;
        transition: .6s;
        transition-timing-function: ease-out;
        border-style: solid;
        border-width: 2px;
        flex-shrink: 0;
        left:90%;
      }

      #Acnt-cnt:hover #player:hover
      {
        height: 100%;
        transition-timing-function: ease-out;
        width: 100% !important;;
        transition: .6s;
        border-style: solid;
        border-width: 2px;
        left:0%
      
      }   
      }


     
      #stationCreateModal{
        background-color: rgb(46, 46, 46);
        border:5px solid #11031a ;
        position: fixed;
        width: 25%;
        height: 80%;
        z-index: 5;
        left: 37.5%;
        border-radius: 2%;
        display: none;
        /* transform: translateX(-50%); */
        top: 5%;
        transform: translateY(5%);
      }
      #stationformbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
      #stationformbox label{
        color: #b3b3b3;
        font-size: large;
      }
 
    </style>
    <script>
      

  playlistImport = async () => {
    id = prompt("Enter playlist ID", "PL0Jks44vwre23hgZb_h8p2WgxzWAYqera")
    await fetch("/addPlaylist", { method: "POST", body: id })
  }
  renderTopHits = (param) => {
    if (param.liked) {
      document.querySelector("#stations").src = "/likedSongs"
      return
    }
    document.querySelector("#stations").src = "/topHits"
  }
  renderStations = () => {
    document.querySelector("#stations").src = "/stationsPage"

  }
  renderFriends=()=>{
    document.querySelector("#stations").src = "/myFriends"

  }
  logout =async () => {
   await fetch('/logout', {
      method: 'POST'
    })
    location.reload()
  }
  renderProfile = () => {
  <% if (username !== "Guest") { %>
      document.querySelector("#stations").src = `/user?username=<%= username %>`;
  <% } else { %>
      window.location.href = "/login";
  <% } %>
}
renderPlaylists = ()=>{
  <% if (username !== "Guest") { %>
      document.querySelector("#stations").src = `/myPlaylists`;
  <% } else { %>
      window.location.href = "/login";
  <% } %>
}
toggleStationCreateModal=()=>{
 dis= document.querySelector("#stationCreateModal").style.display
 dis=="block"?document.querySelector("#stationCreateModal").style.display="none":document.querySelector("#stationCreateModal").style.display="block"
console.log(dis)
}
    </script>
  </head>
  <body style="background-color: rgb(78, 78, 78)">
    <div id="stationCreateModal">
      <form id="stationformbox" style="padding:10%">
        <label>Enter station name</label>
        <input>
        <label>Enter station description</label>
        <input>
        <input type="checkbox" />
        <label>Enter station host adress/playlist link</label>
        <input>
      </form>
    </div>
    <div id="header-cnt">
      <img src="/OIG.png" style="max-width: 100px" />
      <h1>SDRWave</h1>
      <h1 style="margin-left:auto" id="greet">Enjoy the show, <div id="myprofile" onclick="renderProfile()"><%- username %></div>  </h1>
 
    </div>
    <div
      id="sideAndCnt-cnt"
      style="display: flex; flex-direction: row; width: 100%"
    >
      <div id="sidebar-cnt">
        <div id="Curr"></div>
        <ul>
          <% if(username=="Guest") {%> 

            <a style="font-weight: 600;" href="/login"> Log in</a>
         <% } %> 
         <li onclick="renderPlaylists()">My playlists</li>

          <li onclick="playlistImport()">Import Youtube Playlist</li>
          <li onclick='toggleStationCreateModal()'>Create station</li>
          <li onclick="renderStations()">List of stations</li>
          <% if(username!="Guest") {%> 
          <li onclick="renderFriends()">Friends</li>
          <li onclick="renderTopHits({liked:true})">Liked songs</li>
          <% } %>
          <li onclick="renderTopHits({liked:false})">Top Hits</li>
          <li onclick="()">Settings</li>
          <li onclick="logout()">Log out</li>
        </ul>
      </div>
      <iframe id="stations" width="100%" src="/stationsPage"></iframe>

      <div id="Acnt-cnt">
        <div class="arrow">
          <h4><</h4>
        </div>
        <iframe id="player" width="100%" src="/player"></iframe>

      </div>
    </div>
  </body>
  <script>
    if(document.body.offsetWidth<600){
        console.log("eda")
        for(let i of document.querySelectorAll("li")){
          atr=i.getAttribute("onclick")
          // i.setAttribute("onclick",atr.slice(0,-2))
        }
  
        document.querySelector("#sidebar-cnt ul li:first-child").addEventListener("click",(e)=>{
          e.preventDefault()
          e.target.parentElement.parentElement.classList.add("open")
          console.log(e.target.parentElement.parentElement)
        })
        document.querySelector("body").addEventListener("click",(e)=>{
          console.log("hi")
          if(e.target!= document.querySelector("#sidebar-cnt li")){
            console.log("hello")
            document.querySelector("#sidebar-cnt").classList.remove("open")

          }

        })
        
       for(i of document.querySelectorAll("#sidebar-cnt.open > ul > li")){
        i.addEventListener("click",(e)=>{
          console.log("ok")
          eval(e.target.getAttribute("onclick")+"()")
        })
      }
       }
    let AccntCont= document.querySelector("#Acnt-cnt")
   let playerel=document.querySelector("#player")
   let cancelableTimeout;
    AccntCont.addEventListener('mouseleave', () => {
  console.log("ok")
  cancelableTimeout=setTimeout(() => {
            playerel.style.height="70px"
            playerel.style.background =  `rgb(48, 48, 48)`;

        }, 3000);
    });

AccntCont.children[0].addEventListener('mouseenter', () => {
  console.log("unok")
            clearTimeout(cancelableTimeout)
            playerel.style.height="100%"
            playerel.style.background =  `rgb(77, 77, 77)`

    });
  </script>
</html>
