<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            width: 100%;
            height: 100%;
            background-color: #303030;

        }

        .playlistCnt {
            margin: 10px;
            display: flex;
            flex-direction: column;
            background-color: #434245;
            border-radius: 10%;
            align-items: center;
            justify-content: center;

        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
        @keyframes fadeout {
            0% {
                opacity: 1;
            }
            70% {
                opacity: 0.8;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes click {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }

     

        .playlistpic {
            border-radius: 100%;
            animation: spin 5s linear infinite;
            animation-play-state: paused;
            max-width: 80%;
            border: 4px solid rgb(34, 34, 34);
        }
        .clicked {
            animation: spin 5s linear infinite, click ease-in-out 0.4s!important;
            
        }   
        .playlistpic:hover {
            animation-play-state: running;
        }

        .vinyl-hole {
            position: relative;
            top: -45%;
            z-index: 200;
            width: 20px;
            height: 20px;
            background-color: black;
            border-radius: 50%;
        }

        .playlistpic>h8 {}
        .modal-content{
            animation: fadeout 1s ease-out;
            background-color: rgb(112, 255, 112);
            position: absolute;
            width: fit-content;
            margin-left: auto; 
            margin-right: auto; 
            padding: 3px;
            top:0%;
            border-radius: 3px;
        }
    </style>
</head>

<body>
    <%playlists=[{name:"Example bro"},{name:"Example bro"},{name:"Example bro"}]%>
    <div id="playlistsCnt" style="display: flex; flex-wrap: wrap; flex-direction: row;">
        <% for(i of playlists){%>
        <div class="playlistCnt">
            <div class="picCont" style="display: flex; flex-direction: column;align-items: center;                ">
                <img src="https://picsum.photos/200" class="playlistpic">
                <div class="vinyl-hole"></div>
                <hr
                    style="position: relative; top:-30%; left:20%;width: 70px; height:3px;background-color: black; transform: rotate(30deg);">
            </div>
            <h8 style="word-wrap: break-word; max-width: 22ch;text-align: center;">
                hellofrfjorifirjifjirofjiorjfijrfjjfjirfjioroifjriofjirofjiorjifoj</h8>
            <hr style="width: 80%;">

            <h2 style="top:40px"><%-i.name%></h2>

        </div>
        <%}%>
        <!-- The Modal -->

    </div>
    <div id="myModal" class="modal">

        <div class="modal-content">
          <p>Some text in the Modal..</p>
        </div>
      
      </div>
    <script>
        function addListenerMulti(element, eventNames, listener) {
            let events = eventNames.split(' ');
            for (let i = 0, iLen = events.length; i < iLen; i++) {
                element.addEventListener(events[i], listener, false);
            }
        }
        setInterval(()=>{
                    for(i of modals){
                       
                       console.log(window.getComputedStyle(i).animationPlayState)
                        if(window.getComputedStyle(i).animationPlayState=="running"){
                            i.remove()
                        }

                    }
                },1000)
        modals=[]
        for (i of document.querySelectorAll(".playlistpic")) {
            i.addEventListener("click", (e) => {
                modal=document.createElement("div")
                modal.classList.add("modal-content")
                modal.innerText="hi"
                document.body.appendChild(modal)
                modals.push(modal)

                e.target.classList.add("clicked")
                setTimeout(()=>{
                e.target.classList.remove("clicked")

            },500)
            })
          
          
        }
    </script>
</body>
</html>