<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa{
            align-self: flex-end;
            margin: 12px;
            transition: 0.3s;

        }
        .fa:hover{
            color: white;
            margin: 12px;

        }
        .fa:hover div{
            height: 0px;
            border-radius: 100px;
            box-shadow: 0px -10px 30px 2px #0ff;
            transition: 0.3s;

        }
        body {
            width: 100%;
            height: 100%;
            background-color: #303030;
            padding-bottom:100px;

        }

        .playlistCnt {
            margin: 10px;
            display: flex;
            flex-direction: column;
            background-color: #434245;
            border-radius: 10%;
            align-items: center;
            justify-content: center;
            max-width: 220px;

        }
        h8,h2{
            color: wheat;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
        .xicon{
            fill: black;
            color:black;
            transition: 0.2s;
        }
        .xicon:hover{
            fill:red;
            transition: 0.2s;
        }
        @keyframes fadeout {

            1% {
                opacity: 1;
            }

            70% {
                opacity: 0.8;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes click {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }



        .playlistpic {
            border-radius: 100%;
            animation: spin 5s linear infinite;
            animation-play-state: paused;
            max-width: 80%;
            border: 4px solid rgb(34, 34, 34);
        }
        body{
            margin: 3%;
        }
        .clicked {
            animation: click ease-in-out 0.3s !important;

        }

        .playlistpic:hover {
            animation-play-state: running;
        }

        .vinyl-hole {
            position: relative;
            top: -45%;
            z-index: 2;
            width: 20px;
            height: 20px;
            background-color: black;
            border-radius: 50%;
        }

        .playlistpic>h8 {}

        .modal-content {
            z-index: 99;
            animation: fadeout infinite ease-out;
            background-color: rgb(112, 255, 112);
            position: fixed;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            padding: 3px;
            top: 0%;
            border-radius: 3px;
        }
    </style>
</head>

<body>

    <%playlists.length==0?playlists=[{name:"Example bro"},{name:"Example bro"},{name:"Example bro"},{name:"Example bro"},{name:"Example bro"},{name:"Example bro"}]:[]%>
    <div id="playlistsCnt" style="display: flex; flex-wrap: wrap; flex-direction: row;">
        <% for(i of playlists){%>
        <div class="playlistCnt" data-id=<%-i.id%>>
            <div class="picCont" style="display: flex; flex-direction: column;align-items: center;                ">
                <img src="https://picsum.photos/200" class="playlistpic" data-added="false"
                    data-index=<%-playlists.indexOf(i)%>>
                <div class="vinyl-hole"></div>
                <hr
                    style="position: relative; top:-30%; left:20%;width: 70px; height:3px;background-color: black; transform: rotate(30deg);">
            </div>
            <h8 style="word-wrap: break-word; max-width: 22ch;text-align: center;">
                <%-i.description%></h8>
            <hr style="width: 80%;">

            <h2 style="top:40px"><%-i.name%></h2>
            <span style="width: 100%; display: flex; justify-content: space-between;">
            <svg class="xicon" style="max-height:30px; margin:10px"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>        

            <i class="fa fa-share-alt sharebtn" style="font-size:30px"><div></div></i>
            </span>
        </div>
        <%}%>
        
        <!-- The Modal -->

    </div>
    <h1>+</h1>

    <div id="myModal" class="modal">

        <div class="modal-content">
          <p>Some text in the Modal..</p>
        </div>
      
      </div>
    <script>
        function addListenerMulti(element, eventNames, listener) {
            let events = eventNames.split(' ');
            for (let i = 0, iLen = events.length; i < iLen; i++) {
                element.addEventListener(events[i], listener, false);
            }
        }
       
        setInterval(() => {

            lol = document.querySelector(".modal-content")
            if (lol) lol.remove()



        }, 1000)


      

        for (i of document.querySelectorAll(".playlistpic")) {
    
            let cnt = i.parentElement.parentElement;

            cnt.querySelector(".xicon").addEventListener("click", (e) => {
                let playlistId =cnt.dataset.id
                fetch('deletePlaylist', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ id: playlistId }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
            cnt.querySelector(".sharebtn").addEventListener("click", (e) => {
                alert(window.location.origin + `/embezzlePlaylist?id=${cnt.dataset.id}`);

        });

            i.addEventListener("click", (e) => {
                window.location.href="/playlist?id="+e.target.parentElement.parentElement.dataset.id
                // modal = document.createElement("div")
                // modal.classList.add("modal-content")
                // modal.style.top = `${document.querySelectorAll(".modal-content").length * 20}px`
                // console.log(e.target.parentElement.parentElement)
                // e.target.dataset.added == "true" ? e.target.dataset.added = "false" : e.target.dataset.added = "true"
                // e.target.dataset.added == "true" ? (modal.innerText = `Added ${e.target.parentElement.parentElement.querySelector("h2").innerText} to playlists`) : modal.innerText = `Removed  ${e.target.parentElement.parentElement.querySelector("h2").innerText} from playlists`

                // document.body.appendChild(modal)

                // e.target.classList.add("clicked")
                // setTimeout(() => {
                //     e.target.classList.remove("clicked")

                // }, 1000)
            })


        }
    </script>
</body>
</html>