<style>
  body {
    background-color: #4e4e4e;
  }

  .songContainer {
    position: static;
    margin: 2%;
    padding-left: 5%;
    padding-right: 10%;
    display: flex;
    background-color: #272727;
    color: aliceblue;
    border-width: 2px;
    max-height: 100px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 10px;
    transition: 1s;
    font-weight: 800;
    box-shadow: 0 1px 10px #000;
  }

  #songName {
    background-color: rgb(200, 200, 200);
    border-radius: 4px;
    border-style: solid;
  }

  .songContainer:hover {
    font-weight: 700;

    transition: 0.4s;
    margin: -2%;
    padding-left: 5%;
    padding-right: 10%;
    display: flex;
    border-style: double;
    border-color: #7fffd4;
    background-color: rgb(41, 41, 41);
    color: aliceblue;
    border-width: 2px;
    max-height: 100px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 10px;
  }

  .likeButton {
    transition: 0.2s;
    color: white
  }
  .triangle {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 10px 20px 10px;
   border-color: transparent transparent #FF4532 transparent;
   transform: rotate(90deg);
   margin-left: 10px;
}
.triangle:hover {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 10px 20px 10px;
   border-color: transparent transparent white transparent;
   transform: rotate(90deg);
   margin-left: 10px;
   transition: 0.2s;
}
  #submitquerybtn,
  #reversefilterbtn[data-pressed="1"] {
    background: chartreuse;
    color: black;
    border: none;
    border-radius: 4px;
    /* width: 30%; */
    /* height: 3%; */
    /* margin: 10px; */
    box-shadow: -5px 5px 1px green;
  }

  #submitquerybtn:hover,
  #reversefilterbtn[data-pressed="-1"] {
    position: relative;
    background: chartreuse;
    color: black;
    border: none;
    right: 3px;
    top: 3px;
    border-radius: 4px;
    /* width: 30%; */
    box-shadow: -2px 2px 1px green;
  }

  #reversefilterbtn {
    background-color: aqua;
  }

  .likeButton:hover {
    transition: 0.05s;
    cursor: pointer;
    color: #7fffd4
  }
  .likeButton[data-liked="true"] > svg{
    transition: 0.05s;
    cursor: pointer;
    fill: #7fffd4
  }

  .likeButton:hover svg {
    fill: #7fffd4;
    ;
    transition: 0.3s;

  }

  svg {
    transition: 0.3s;
  }
</style>



<body style='max-width:400px;margin-left: 10%;margin-top: 8%;'>
  <div style='position: absolute; color:white;
    width: 100%;
    height: 60px;
    background: #272727;
    border-color: #7fffd4;
    border-width: 2px;
    border-style: double;
    top: 0px;right:0px' id="filtersHeader">
    <form id="submissionform" action="/getSongs">
      <label for="filterby">Filter by:</label>
      <select name="filterby" id="filterby">
        <option value="likes">Likes</option>
        <option value="date">Discovery Date</option>
        <option value="name">Name</option>
      </select>

      <label for="radiosource">Source</label>
      <select name="radiosource" id="radiosource">
        <option value="curr">Current Radio</option>
        <option value="any">Any Radio</option>
      </select>
      <button id="reversefilterbtn" onclick="document.querySelector('#reversefilterbtn').dataset.pressed*=-1"
        type="button" data-pressed="1">Reverse filter order</button>
      <input type="submit" id="submitquerybtn" value="Submit"></input>
    </form>
  </div>
  <hr style="margin-bottom: 20%;visibility: hidden;">
  <script>
    let audio=0;
    function playSound(soundSrc) {
      if(audio){
      
        audio.load()
      }
      audio = new Audio(soundSrc);
      audio.play();

      setTimeout(function () {
        
        audio.pause();
        audio.currentTime = 0;
        audio = null; // Removing the reference to the audio element for garbage collection
      }, 10000); // Destroy after 10 seconds
    }
     async function likeSong(e) {
      song=JSON.parse(e.dataset.song)
      console.log(song)
      let likecounter = e.querySelector("p")

      if(e.dataset.liked=="false"){

      likecounter.innerText = parseInt(likecounter.innerText) + 1

      await fetch("/likeSong", { method: "POST", body: (song.id)})
      song.liked=true
      e.dataset.liked="true"

      }else{

        likecounter.innerText = parseInt(likecounter.innerText) - 1
              await fetch("/unlikeSong", { method: "POST", body: (song.id)})

        song.liked=false
        e.dataset.liked="false"

      }



    }
    method= <%-likedOnly%>;
    method=method?"/getLikedSongs":"/getSongs"
    userId=<%-JSON.stringify(user)%>
    console.log(userId.id)
    function performSongQuery() {
      let formdataobject = Object.fromEntries(new FormData(document.getElementById("submissionform")))
      formdataobject.reversefilterbtn = document.querySelector('#reversefilterbtn').dataset.pressed
      fetch(method, { method: "POST", body: JSON.stringify(formdataobject) })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json(); // Assuming the response is in JSON format
        })
        .then((data) => {
          console.log(data)
          // Use the data here
          songs = data;
          for (i of songs) {
            console.log(i.sampleId)
                      const data = {
                        search_query: i.name+"-"+i.artist,
          };
          // console.log(<%-user%>)
             
            query='https://www.youtube.com/results?'+new URLSearchParams(data)

            songCont = document.createElement("div")
            songCont.classList.add("songContainer")
            songCont.innerHTML = `<p>${i.name + " - " + i.artist}</p>
      <div onclick='likeSong(this);' class="likeButton" data-liked=${i.likes.includes(userId.id)} style="display:flex;flex-direction:row;align-items: baseline;">
      <p>${i.likes.length}</p>
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"/></svg>

        </div>
        <a href="${query}" class="triangle" target="_parent"></a>

      `
              ;
              songCont.querySelector(".likeButton").dataset.song=JSON.stringify(i)
            document.body.appendChild(songCont)
            songCont.addEventListener("click", (e) => {

              // http://localhost:3000/getSong?sampleId=920683
              playSound(`/getSong?sampleId=${i.sampleId}`)
              // parent.document.querySelector("#audioElement").src=`/songs/${i.id}/audio.mp3`
            })
          }
        })
    }
    performSongQuery()
    document.querySelectorAll('.songContainer').forEach(e => console.log(e));
    document.querySelector('#submitquerybtn').addEventListener('click', function (event) {
      console.log("whoop")
      event.preventDefault(); // Prevent the default form submission
      // document.write("");
      console.log(document.querySelectorAll(".songContainer").forEach((e) => {
        e.remove()
      }))

      performSongQuery()
// 
    });


  </script>
</body>